@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gwendolyn', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1
}

span {
    font-size: 90px;
    font-weight: bold; 
}

p {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
}

